.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}
.favorites__list {
    margin-bottom: 24px;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(0, 8, 7);
}
.removeButton {
    display: flex;  
}
.remove-img{
    width: 25px; 
}
.rem {
    border-radius: 50%;
    border-style: none;
    background-color: white;
    padding: 1px 15px ;
    margin-bottom: 20px;
  
}
.titleandbutton{
    display: flex;
    justify-content:space-between;
}
.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}
.favorites__save:disabled {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s linear;
}
.saved{
    border: none;
    background-color: red;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
}