.header {
    background: #496DDB;
    padding: 20px calc(50% - 500px) 5px;
}

.header__title {
    font-family: 'Luckiest Guy';
    color: #FFEEDB;
    font-size: 45px;
    font-weight: 400;
    margin: 0 0 0px 40px ;
}
